## Settings file was created by plugin LateRepo v1.6.4
## Plugin GUID: chaos.holz.laterepo

[Late Join]

## If true, a button appears in the Escape menu that opens the Steam overlay for inviting players.
# Setting type: Boolean
# Default value: true
Invite Button = true

## If it’s true, players can late join in the shop.
# Setting type: Boolean
# Default value: false
Late Join Shop = true

[Lobby Settings]

## If true, it automatically picks the best region, so it doesn’t ask you to choose a region anymore.
# Setting type: Boolean
# Default value: true
Auto Region = true

## If true, it automatically bypasses the password input screen.
# Setting type: Boolean
# Default value: false
Passwort Skip = false

## Enter the password you want for your private lobby. If it’s empty, no password will be set. This only works if Password Skip is true.
# Setting type: String
# Default value: 
SetPasswort = 

[Popup]

## If true, the splash screen at the beginning is skipped.
# Setting type: Boolean
# Default value: true
Splash Screen = true

## If true,
# Setting type: Boolean
# Default value: true
Moon Phase Change = true

## If true, the pop-ups for “Host a Game?” and “Warning: Playing with random players” are automatically accepted when you click PUBLIC or PRIVATE GAME, so they don’t appear anymore.
# Setting type: Boolean
# Default value: true
Play Game Popup = true

## If true, the pop-up for “Load Save?” is automatically accepted when you click LOAD SAVE, so it doesn’t appear anymore.
# Setting type: Boolean
# Default value: false
Load Save Popup = false

## If true, the pop-up for “Start Game” is automatically accepted when you click START GAME, so it doesn’t appear anymore.
# Setting type: Boolean
# Default value: true
Start Game Popup = true

