## Settings file was created by plugin ChatBox v1.3.0
## Plugin GUID: ChatBox-UnloadedHangar

[General Settings]

## Enable if you want to use custom set config setting values. If disabled, the default config setting values will be used.
# Setting type: Boolean
# Default value: false
EnableConfiguration = false

## If enabled, your messages will only send to players that are within the set range of your position.
# Setting type: Boolean
# Default value: false
ProximityChat = false

## Transmit range of the proximity chat.
# Setting type: Single
# Default value: 20
ProximityRange = 20

## If message sender is further than the set range, you will receive an error message in the chat instead of the message being ignored completely.
# Setting type: Boolean
# Default value: false
OutOfRangeMessage = false

## How visible the chat box is going to be after fading.
# Setting type: Single
# Default value: 0.2
AfterFadeVisibility = 0.2

## If enabled, TAXMAN will post 'ChatBox active!' in the chat each time a level starts.
# Setting type: Boolean
# Default value: true
StartMessageEnabled = true

## How long the chat box will stay visible before fading.
# Setting type: Single
# Default value: 4
FadeDelay = 4

## How visible the chat box is going to be before fading.
# Setting type: Single
# Default value: 1
BeforeFadeVisibility = 1

## How many messages will be shown on the screen.
# Setting type: Int32
# Default value: 4
MessageLimit = 4

## ChatBox X position.
# Setting type: Single
# Default value: 107
ChatBox_X = 107

## ChatBox Y position.
# Setting type: Single
# Default value: 100
ChatBox_Y = 100

## If enabled, you won't be able to send messages when dead.
# Setting type: Boolean
# Default value: false
DeadPlayerTransmitBlock = false

