## Settings file was created by plugin TextUpgradesUIScale v1.2.1
## Plugin GUID: DarkSpider90.TextUpgradesUIScale

[General]

## Enable or disable the mod.
# Setting type: Boolean
# Default value: true
EnableMod = true

[Layout]

## Extra vertical spacing between upgrade rows while scaled. Negative values make the list tighter.
# Setting type: Single
# Default value: -4
# Acceptable value range: From -30 to 30
LineSpacing = -4

## Shrink text if the upgrade names become wider than this value. Set to 0 to disable width-based shrinking.
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 2000
MaxTextWidthBeforeShrinking = 0

[Text fitting]

## Start shrinking text after this many active upgrades.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 100
StartShrinkingAfterUpgradesCount = 10

## Shrink text once per this many additional upgrades.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 20
ShrinkEveryUpgrades = 2

## Text scale removed per shrink step. 0.07 means 7%.
# Setting type: Single
# Default value: 0.07
# Acceptable value range: From 0,01 to 0,5
ShrinkStep = 0.07

