## Settings file was created by plugin NoItemSpawnLimit v1.0.8
## Plugin GUID: HeroHanex.NoItemSpawnLimit

[General]

## Remove item spawn limit
# Setting type: Boolean
# Default value: true
RemoveSpawnLimit = true

## Logging level
# Setting type: ModLogLevel
# Default value: Info
# Acceptable values: Error, Warning, Info, Debug
LogLevel = Info

[ItemLimits]

## Max amount for item 'Item Cart Cannon'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Cart Cannon = 1

## Max amount for item 'Item Cart Laser'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Cart Laser = 1

## Max amount for item 'Item Cart Medium'
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 0 to 10000
Item Cart Medium = 4

## Max amount for item 'Item Cart Small'
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 10000
Item Cart Small = 2

## Max amount for item 'Item Drone Battery'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Drone Battery = 1

## Max amount for item 'Item Drone Feather'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Drone Feather = 1

## Max amount for item 'Item Drone Indestructible'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Drone Indestructible = 1

## Max amount for item 'Item Drone Torque'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Drone Torque = 1

## Max amount for item 'Item Drone Zero Gravity'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Drone Zero Gravity = 1

## Max amount for item 'Item Duck Bucket'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Duck Bucket = 1

## Max amount for item 'Item Extraction Tracker'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Extraction Tracker = 1

## Max amount for item 'Item Grenade Duct Taped'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Grenade Duct Taped = 3

## Max amount for item 'Item Grenade Explosive'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Grenade Explosive = 3

## Max amount for item 'Item Grenade Human'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Grenade Human = 3

## Max amount for item 'Item Grenade Shockwave'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Grenade Shockwave = 3

## Max amount for item 'Item Grenade Stun'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Grenade Stun = 3

## Max amount for item 'Item Gun Handgun'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Gun Handgun = 1

## Max amount for item 'Item Gun Laser'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Gun Laser = 1

## Max amount for item 'Item Gun Shockwave'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Gun Shockwave = 1

## Max amount for item 'Item Gun Shotgun'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Gun Shotgun = 1

## Max amount for item 'Item Gun Stun'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Gun Stun = 1

## Max amount for item 'Item Gun Tranq'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Gun Tranq = 1

## Max amount for item 'Item Health Pack Large'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Health Pack Large = 3

## Max amount for item 'Item Health Pack Medium'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Health Pack Medium = 3

## Max amount for item 'Item Health Pack Small'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Health Pack Small = 3

## Max amount for item 'Item Leaf Blower'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Leaf Blower = 1

## Max amount for item 'Item Melee Baseball Bat'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Melee Baseball Bat = 1

## Max amount for item 'Item Melee Frying Pan'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Melee Frying Pan = 1

## Max amount for item 'Item Melee Inflatable Hammer'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Melee Inflatable Hammer = 1

## Max amount for item 'Item Melee Sledge Hammer'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Melee Sledge Hammer = 1

## Max amount for item 'Item Melee Stun Baton'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Melee Stun Baton = 1

## Max amount for item 'Item Melee Sword'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Melee Sword = 1

## Max amount for item 'Item Mine Explosive'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Mine Explosive = 3

## Max amount for item 'Item Mine Shockwave'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Mine Shockwave = 3

## Max amount for item 'Item Mine Stun'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Item Mine Stun = 3

## Max amount for item 'Item Orb Zero Gravity'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Orb Zero Gravity = 1

## Max amount for item 'Item Phase Bridge'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Phase Bridge = 1

## Max amount for item 'Item Power Crystal'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Power Crystal = 10

## Max amount for item 'Item ReviveItem'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item ReviveItem = 1

## Max amount for item 'Item Rubber Duck'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Rubber Duck = 1

## Max amount for item 'Item Staff Torque'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Staff Torque = 1

## Max amount for item 'Item Staff Void'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Staff Void = 1

## Max amount for item 'Item Staff Zero Gravity'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Staff Zero Gravity = 1

## Max amount for item 'Item Upgrade Death Head Battery'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Death Head Battery = 10

## Max amount for item 'Item Upgrade Map Player Count'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Upgrade Map Player Count = 1

## Max amount for item 'Item Upgrade Player Crouch Rest'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Crouch Rest = 10

## Max amount for item 'Item Upgrade Player Energy'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Energy = 10

## Max amount for item 'Item Upgrade Player Extra Jump'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Extra Jump = 10

## Max amount for item 'Item Upgrade Player Grab Range'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Grab Range = 10

## Max amount for item 'Item Upgrade Player Grab Strength'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Grab Strength = 10

## Max amount for item 'Item Upgrade Player Health'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Health = 10

## Max amount for item 'Item Upgrade Player Sprint Speed'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Sprint Speed = 10

## Max amount for item 'Item Upgrade Player Tumble Climb'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Tumble Climb = 10

## Max amount for item 'Item Upgrade Player Tumble Launch'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Tumble Launch = 10

## Max amount for item 'Item Upgrade Player Tumble Wings'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Item Upgrade Player Tumble Wings = 10

## Max amount for item 'Item Valuable Tracker'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Valuable Tracker = 1

## Max amount for item 'Item Vehicle Semiscooter'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Item Vehicle Semiscooter = 1

## Max amount for item 'Item Vehicle Semiscooter Small'
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 10000
Item Vehicle Semiscooter Small = 2

## Max amount for item 'Item WalkieTalkieBox'
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 10000
Item WalkieTalkieBox = 2

## Max amount for item 'Modded Item Upgrade Player Sprint Usage'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Sprint Usage = 10

## Max amount for item 'Modded Item Upgrade Player Valuable Count'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Valuable Count = 1

## Max amount for item 'Modded Item Upgrade Player Map Enemy Tracker'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Map Enemy Tracker = 1

## Max amount for item 'Modded Item Upgrade Player Map Player Tracker'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Map Player Tracker = 1

## Max amount for item 'Modded Item Upgrade Player Item Resist'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Item Resist = 10

## Max amount for item 'Modded Item Upgrade Player Map Zoom'
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Map Zoom = 2

## Max amount for item 'Modded Item Upgrade Player Autoscan'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Autoscan = 3

## Max amount for item 'Modded Item Upgrade Player Item Value'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Item Value = 10

## Max amount for item 'Modded Item Upgrade Player Extra Life'
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Extra Life = 10

## Max amount for item 'Modded Item Upgrade Player Map Cosmetics Tracker'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
Modded Item Upgrade Player Map Cosmetics Tracker = 1

## Max amount for item 'MC Item Apple'
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
MC Item Apple = 100

## Max amount for item 'MC Item Bread'
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
MC Item Bread = 100

## Max amount for item 'MC Item Carved Pumpkin'
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 10000
MC Item Carved Pumpkin = 1

## Max amount for item 'MC Item Cooked Beef'
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
MC Item Cooked Beef = 100

## Max amount for item 'MC Item Firework'
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10000
MC Item Firework = 3

## Max amount for item 'MC Item Golden Apple'
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 10000
MC Item Golden Apple = 100

