## Settings file was created by plugin RoboUnion v0.6
## Plugin GUID: Linkoid.Repo.RoboUnion

[Developer]

# Setting type: Boolean
# Default value: false
LogMessagesPerSecond = false

# Setting type: Boolean
# Default value: false
ShowMessagesPerSecond = false

[General]

## Sets the maximum number of players allowed in a multiplayer lobby. 0 = Default
# Setting type: Int32
# Default value: 10
MaxPlayers = 10

