## Settings file was created by plugin Cannon v0.8.6
## Plugin GUID: Sai.Cannon

[Damage]

## The amount of damage dealt to the player | Default 150
# Setting type: Int32
# Default value: 150
# Acceptable value range: From 0 to 1000
Player Damage = 150

## The amount of damage dealt to enemies | Default 500
# Setting type: Int32
# Default value: 500
# Acceptable value range: From 0 to 2000
Enemy Damage = 500

[Pricing]

## The minimum price for the cannon(Not including scaling) | Default 9500
# Setting type: Single
# Default value: 9500
# Acceptable value range: From 0 to 150000
Minimum Price = 9500

## The maximum price for the cannon(Not including scaling) | Default 12000
# Setting type: Single
# Default value: 12000
# Acceptable value range: From 0 to 150000
Maximum Price = 12000

[Weapon]

## The Fire Rate for the weapon | Default 2
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0,1 to 10
Fire Rate = 2

## The amount of recoil for the weapon(Only noticable when fired from the side) | Default 25
# Setting type: Single
# Default value: 25
# Acceptable value range: From 0 to 25
Recoil = 25

## The amount the screen shakes after firing | Default 20
# Setting type: Single
# Default value: 20
# Acceptable value range: From 0 to 100
Screen Shake = 20

## The amount the weapon drains from the battery when fired | Default 2
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 5
Battery Drain = 2

