## Settings file was created by plugin ML Moreplayers v1.0.3
## Plugin GUID: smokemalina.ML_Moreplayers

[General]

## Maximum players in lobby. Recommended: 8-12. Allowed range: 2-32.
# Setting type: Int32
# Default value: 10
MaxPlayers = 10

## Experimental. Enable support for public lobbies. Recommended: false.
# Setting type: Boolean
# Default value: false
PublicLobbySupport = false

